p, footer{
  font-size: 2em;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3em;
}

body {
  padding: 0em;
  margin: 0em;
  background-image: linear-gradient(rgba(69, 162, 212, 1), rgba(30, 60, 136, 1));
}

header {
  padding: 2em;
  display: flex;
  justify-content: space-around;
  background-color: cadetblue;
}

a {
  text-decoration: none;
  color: black;
}

nav a {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-style: normal;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 1em;
  padding: 0.5em;
  margin: 2em;
  box-shadow: 0 0.1em;
  transition: 0.2s;
  color: black;
}

nav a:hover {
  box-shadow: 0 0;
  font-size: 15px;
}

.primoNotizie {
  position: relative;
  text-align: center;
  left: 23%;
  width: 50em;
  height: 6em;
}

.primoNotizie img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-style: solid;
  border-width: 0.15em;
  border-color: black;
  opacity: 45%;
  box-shadow: 0 0.3em 2em;
  transition: 0.4s;
}
.primoNotizie p{
  padding: 0.5em;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  white-space: nowrap;
  transition: 0.7s;
  pointer-events: none;
}
.primoNotizie:hover img {
  box-shadow: none;
  transform: scale(0.95); /* Зменшення зображення */
}
.primoNotizie:hover p{
  transform: translate(-50%, -50%) scale(0.95); /* Зменшення тексту */
}

.secondoTerzoNotizie {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin: 1em 0 1em 0;
}
.secondoTerzoNotizie div{
  object-fit: cover;
  width: 35em;
  height: 6em;
}
.secondoNotizie img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 45%;
  border-style: solid;
  border-width: 0.15em;
  border-color: black;
  box-shadow: 0 0.3em 2em;
  transition: 0.4s;
}
.secondoNotizie p{
  top: 1.3em;
  left: 25%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: white;
  white-space: nowrap;
  pointer-events: none;
  font-size: 1.3em;
  transition: 0.7s;
}
.terzoNotizie img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 45%;
  border-style: solid;
  border-width: 0.15em;
  
  box-shadow: 0 0.3em 2em;
  transition: 0.4s;
}
.terzoNotizie p{
  top: 1.5em;
  left: 75%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: white;
  white-space: nowrap;
  pointer-events: none;
  font-size: 1.2em;
  transition: 0.7s;
}
.secondoNotizie:hover img{
  box-shadow: none;
  transform: scale(0.95); /* Зменшення зображення */
}
.secondoNotizie:hover p{
  transform: translate(-50%, -50%) scale(0.95); /* Зменшення тексту */
}
.terzoNotizie:hover img {
  box-shadow: none;
  transform: scale(0.95); /* Зменшення зображення */
}
.terzoNotizie:hover p{
  transform: translate(-50%, -50%) scale(0.95); /* Зменшення тексту */
}

.weekendMatch {
  background-color: rgba(110, 106, 106, 1);
  padding: 0 0 1.3em 0;
  border-style: solid;
}

.weekendMatchI{
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  font-size: 1.5em;
}
.weekendMatchI a {
  transition-duration: 1s;
  transition-delay: 0.2s;
}
.weekendMatch a:hover {
  transform: scale(1.5);
}

footer {
  display: flex;
  justify-content: center;
  font-size: 2.07em;
}

